*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    
    background: #0f0c29;  
    background: -webkit-linear-gradient(to bottom right, #04d9e0, #0f80eb, #1b107a); 
    background: linear-gradient(to bottom right, #04d9e0, #0f80eb, #1b107a); 
}
.main {
    min-height: 100vh;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 30% 70%;
}
/* Personal card*/
.personal-card {
    background-color: white;
    margin: auto;
    border-radius: 16px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
    height: 600px;
	width: 300px;
    text-align: center;
}
.personal-card i:hover{
    color: rgb(77, 75, 75);
}
.personal-card div{
    margin-top: 45px;
}
.personal-card a{
    text-decoration: none;
}
.social-media i{
    color: black;
    font-size: 30px;
    margin: 10px;
}
.location{
    font-size: 18px;
    width: 100%;
    height: 150px;
    background-color: rgb(30, 210, 255);
}
.location i, .location i:visited {
    color: black;
}
.location div {
    margin: 40px;
    padding-top: 20px ;
}
.btn.btn-primary{
    width: 150px;
   font-size: 18px;
    border-radius: 25px;
    margin-top: 20px;
}


/* About me card*/
.about-me-card{
    background-color: white;
    margin: auto;
    border-radius: 16px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: 600px;
	width: 800px;
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
}
.about-section{
    padding: 25px 40px;
}
.about-me{
    color: #333;
    margin-bottom: 25px;
}
.underline{
    width: 10%;
    height: 5px;
    background-color: rgb(30, 210, 255);
    margin-bottom: 20px;
}
.can-do{
    padding:25px 40px;
    color: #333;
}
.talents{
    padding-bottom: 200px;
    padding:1px 90px;
    max-width: 700px;
    font-size: 13px;
}
.heading-text{
    color: #333;
    font-size: 19px;
}
.icons{
    color:rgb(30, 210, 255) ;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 40px;
}
.experiance{
    display: flex;
    margin: 40px;
}
.icons2{
    margin-top: 10px;
   color: rgb(30, 210, 255);
   font-size: 40px;
}
.talents2{
    max-width: 400px;
    font-size: 13px;
    margin-left: 40px;
}
.learner{
    margin-right: 40px;
}
.main-head{
    display: flex;
    justify-content: space-between;
}
.links{
    background-color:rgb(30, 210, 255);
    width: 35px;
    height: 30px;
    border-radius: 25px;
    border: none;
}
.links:hover{
    background-color:rgb(65, 197, 230);
    transition: .3s ease-in-out;
}
.fas.fa-align-justify{
    color: #333;
    margin-left: 10px;
}
.expand{
    transition: .03s;
    width: 200px;
}
.new-links{
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    max-width: 300px;
}
.port {
    padding: 2px 30px;
    display: none;
}
.port a{
    margin: 0px 5px;
    color: #333;
    text-decoration: none;
}
.port a:hover{
    color:#333
}
.port a:visited{
   color: #333;
}
.visible{
    display:flex;
}
.hidden{
    display: none;
}

/* Portfolio*/

.project-nav {
    display: flex;
}
.project-nav h6 {
    margin: 20px 20px;
}
.project-nav a{
    color:#333;
    text-decoration: none;
}
.project-nav a:hover{
    color:rgb(30, 210, 255)
}

.portfolio-card{
    flex-wrap: wrap;
    display: flex;
}
.portfolio-card a{
    color:#333;
    text-decoration: none;
}
.portfolio-card a:hover{
color: #333;
}

.card{
    border:none!important;
    height: 150px;
    width: 200px;
    margin: 20px;
}
.card-img-top{
    border-radius: 5px;
    border: none;
    height: 100%;
}
.text{
    display: flex;
    justify-content: center;
}






@media screen and (max-width: 600px) {
   
   .content{
      margin-right: 240px;
   }
    .main{
        max-width: 570px;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .about-me-card{
        position:none ;
        max-width: 40%;
        height: 90%;
        margin-top: 80px;
    }
    .experiance{
     flex-direction: column;
    }

    .talents{
        margin-top: 40px;
        padding: 20px;
       width: 300px;
    }
    .talents2{
        margin-top: 5px;
    }
    .icons2{
        padding-left: 20px;
    }
    .experiance {
        margin: 20px;
    }

}

@media screen and (min-width: 600px) and (max-width:1023px) {
   
    .content{
       margin-right: 240px;
    }
     .main{
         max-width: 570px;
         grid-template-columns: 1fr;
         grid-gap: 50px;
     }
     .about-me-card{
         position:none ;
         max-width: 80%;
         height: 90%;
         margin-bottom: 90px;
     }
     .personal-card{
         margin-top: 50px;
         width: 70%;
     }
     .experiance{
      flex-direction: column;
      margin: 20px;
     }
 
     .talents{
         margin-top: 40px;
         padding: 20px;
        width: 400px;
     }
     .talents2{
         margin-top: 5px;
     }
     .icons2{
         padding-left: 20px;
     }
     .talents,.talents2 {
        font-size: 1rem;
     }
     .heading-text{
         font-size: 1.5rem;
     }
 
 }

/* Tablet Flip*/
 @media screen and (min-width: 1024px) and (max-width:1100px) {
   
     .about-me-card{
         width: 90%;
     }
    
     .card{
         display: flex;
        height: 110px;
        width: 130px;
     }
 }

 @media screen and (min-width: 3840px) {
   .about-me-card{
       width: 1200px;
       height: 800px;
   }
   .personal-card{
       width:400px;
       font-size: 1.5rem;
       padding-top: 50px;
       height: 800px;
   }
   .personal-card div{
       margin-top: 60px;
   }
   .location{
       max-height: 200px;
       height: 100%;
   }
   .expand{
       width: 300px;
       height: 40px;
       padding: 0px 35px;
   }
   .port{
    padding-bottom: 20px;
       font-size: 1.5rem;
   }
   .talents{
    margin-left: 50px;
    margin-top: 40px;
    padding: 20px;
   width: 400px;
}
.talents2{
   margin-top: 60px;
}
.talents,.talents2 {
   font-size: 1.3rem;
}
.icons{
    margin-top: 20px;
}
.icons2{
    margin-left: 110px;
    margin-top: 30px;
}
.heading-text{
    font-size: 1.5rem;
}
.about-me{
    font-size: 2.5rem;
}

.underline-text{
    font-size: 1.5rem;
}
.project-nav h6{
    font-size: 2rem;
}
.card{
    width: 300px;
    height: 200px;
}

 }

 
 